$f = #fff
$bg = #e8e8e8
$blockbg = #fff
$gray = #828282
$headbg = #ff6666
$3 = #333
$6 = #666
$9 = #999
$light_blue = #00a2ea
$c8 = #c8c8c8

$titleCor = #1f1f1f

$borCor = #f0f0f0
$borCorEF = #efefef
$infoCor = #666
$textCor = #999   

$padding = 10px
$boxshadow = 0 9px 3px rgba(0,0,0,.1)

$zIndexDrawerBg = 14
$zIndexDrawerMask = 15
$zIndexDrawerAside = 19
$zIndexHomeHeader = 10
$zIndexCollectDelete = 10


box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args
    box-shadow args
  
b-r(args...)
    -webkit-border-radius args
    -moz-border-radius args
    border-radius args  