.channel_detail_page
    width 100%
    height 100%
    background-color $f
    position relative
    
.channel_detail_container
    padding 40px 20px 10px
    
    .channel_detail_title
        font-size 17px
        color $3
        margin 15px 0
        
    .channel_detail_info
        
        .detail_type
            color $light_blue
            
        .detail_time
            color $9
    
    .detail_content
        padding 15px 0 20px
        width 100%
        white-space pre-wrap
        word-break break-all
        
.foot_bar
    height 50px
    width 100%
    background-color $f
    position fixed
    left 0
    bottom 0
    z-index $zIndexCollectDelete
    text-align center
    border-top: 1px solid #dadada
    color $9
    
    .blueCor
        color $light_blue
    
    & > div
        padding 10px 0 0
        margin 0 auto
        
        .channel_detail_icon 
            display block
            font-size 16px
            line-height 18px
            
            
        .fz18
            font-size 18px
        .top 
            position relative
            top -2px
            font-weight 600
            
        .channel_detail_do
            display block
            font-size 12px

            
        
