
/*   -----home列表样式开始-----   */

    
.home_container
    padding 51px 8px 0
    
    li.news_item
        margin-top 8px
        width 100%
        height auto
        background-color #fff
        box-shadow -2px 5px 5px grey
        
        .item_img
            width 100%
            height 155px
            
            >img
                height 100%
                width 100%
        
        .item_content
            padding 15px
            
            .item_title
                font-size 14px 
                line-height 21px
                font-weight 600
                margin-bottom 7px
            
            .item_info 
                 color  #878787 
                 width 125%
                 height 16px
                 line-height 16px 
                 transform scale(.8)
                 transform-origin left top

.page_infinite_loading
    margin-top 8px
    border-top 1px solid #eee
    background-color rgba(255,255,255,.2)
    text-align center
    height 36px
    line-height 50px
    
    &>span >div 
        display inline-block
        vertical-align middle
        margin-right 5px
        
.loadingText  
    display inline-block
    height 24px
    line-height 24px
    position relative
    top -6px
    margin-left 5px
    

    
/*   -----home列表样式结束-----   */

                

    

            
                       